<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2 class="section-headline">
        <span>My Profile</span>
      </h2>
    </div>
    <div class="col-xs-4">
        <img src="../../../assets/logo.png" class="img-responsive right" 
             style="width:400px;z-index:1">
    </div>
    <img src="../../../assets/wood.png" class="img-responsive right" 
             style="position: absolute;margin-top:90px;z-index:-2;">
  </div>

  <hr style="position:absolute;width:65%;height:6px;background-color:#333;
             z-index:-1;margin-top:-170px;" />

  <div *ngIf = "!dataFetched" style="margin-top: 50px">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <i class="fa fa-spinner fa-spin" style="font-size:60px;"></i>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:30px">
    <div class="col-xs-12">
      <div *ngIf="dataFetched">
        <div class="col-xs-9">
          <div class="panel-group">
            <div class="panel panel-default" style="border:none">
              <div class="panel-body" style="background-color: #ededed; margin-top: 20px">
                  <!-- tab header start -->
                  <ul class="nav nav-pills nav-justified">
                    <!-- <li class="active"><a data-toggle="tab" href="#edit">Edit</a></li> -->
                    <li class="active"><a data-toggle="tab" href="#edit">Edit</a></li>
                    <li><a data-toggle="tab" href="#payment">Payment</a></li>
                    <li><a data-toggle="tab" href="#shipping">Shipping</a></li>
                    <!-- <li ><a data-toggle="tab" href="#edit"></a></li> -->
                  </ul>
                  <!-- tab header end -->
                  <!-- tab body starts -->
                  <div class="tab-content" style="margin-top: 20px;">
                    <div style="margin-top:20px;" id ="edit" class="tab-pane fade in active">
                      <div class="alert alert-danger" *ngIf = "incorrectPassword">
                        <strong>Incorrect Password</strong>
                        Please enter the correct password for the current user.
                      </div>
                      <div class="aler alert-success" *ngIf = "updateSuccess">
                        <strong>Update Success!</strong>
                      </div>

                      <form (ngSubmit) = "onUpdateUserInfo()">
                        <input type="hidden" name="id" [(ngModel)]="user.id"/>
                        <div class="bg-info" *ngIf="updateUserInfo">
                          User info update.
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-6">
                              <label for="firstName">First Name</label>
                              <input readonly="true" type="text" class="form-control" id="firstName" 
                              name="firstName" [(ngModel)]="user.firstName"/>
                            </div>
                            <div class="col-xs-6">
                              <label for="lastName">Last Name</label>
                              <input readonly="true" type="text" class="form-control" id="lastName" 
                              name="lastName" [(ngModel)]="user.lastName"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Username *</label>
                            &nbsp;<span *ngIf="usernameExists" style="color:red">
                            Username already exists.Choose a different one.</span>
                            <input readonly="true" type="text" required="required" class="form-control" id="userName" 
                            name="userName" [(ngModel)]="user.userName"/>
                        </div>
                        <div class="form-group">
                          <label for="currentPassword">Current Password *</label>
                          <input type="password" class="form-control" id="password" 
                          name="password" [(ngModel)]="currentPassword"/>
                          <p style="color:#828282;">Enter your current password to change the E-mail address or password</p>
                        </div>
                        <div class="form-group">
                          <label for="email">Email Address *</label>
                            &nbsp;<span *ngIf="emailExists" style="color:red">
                              Email already exists.Choose a different one.</span>
                            <input type="email" required="required" class="form-control" id="email" 
                            name="email" [(ngModel)]="user.email"/>
                            <p style="color:#828282;">A valid e-mail address. All e-mail from the system will be sent to
                            this address</p>
                        </div>
                        <div class="form-group">
                          <label for="email">New Password *</label>
                            &nbsp;<span id="checkPasswordMatch" style="color:red;"></span>
                            <input type="password" class="form-control" id="txtNewPassword"
                                name="txgtNewPassword" [(ngModel)]="newPassword"/>
                        </div>
                        <div class="form-group">
                          <label for="txtConfirmPassword">Confirm New Password *</label>
                            <input type="password" class="form-control" id="txtConfirmPassword"
                                name="txtConfirmPassword"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </form>
                  </div>

                  <!-- Payment details start -->
                  <div class="tab-pane fade" style="margin-top:20px;" id="payment">
                    <div class="panel-group">
                      <div class="panel panel-default panel-faq" style = "border:none;">
                        <div class="panel-body">
                          <ul class="nav nav-tabs" >
                            <li class="active"><a data-toggle="tab" href="#exstcard">List of Credit Cards</a></li>
                            <li class="border border-warning"><a data-toggle="tab" href="#newcard" (click)= "resetInfo('P')">Add(Update) Credit Card</a></li>
                          </ul>
                          <div class="tab-content">
                            <div style="margin-top:20px;" id ="exstcard" class="tab-pane fade in active">
                              <p *ngIf="defaultPaymentSet" style="color:green;">Default payment set successfully!</p>
                              <form (ngSubmit)="setDefaultPayment()" method="post">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Default </th>
                                      <th>Credit Card </th>
                                      <th>Operations</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let userPayment of userPaymentList">
                                      <td>
                                        <!-- when [value] = [(ngModel)] then radio button is checked -->
                                        <input type="radio" name="defaultUserPaymentid" [(ngModel)]="defaultUserPaymentId" [value]="userPayment.id" />
                                        <span>default</span>
                                      </td>
                                      <td>{{userPayment.cardName}}</td>
                                      <td>
                                        <a data-toggle="tab" href = "#newcard"  (click)="onEditPayment(userPayment)" style="cursor:pointer">
                                          <i class="fa fa-pencil" data-toggle="tooltip" title="Edit"></i>
                                        </a>&nbsp; &nbsp;
                                        <a  (click)="onRemovePayment(userPayment.id)" style="cursor:pointer">
                                          <i class="fa fa-times" data-toggle="tooltip" title="Delete"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </form>
                            </div>

                            <div style="margin-top:20px" id="newcard" class="tab-pane fade">
                              <form (ngSubmit)="onNewPayment()" method="post">
                                <div class="bg-info" *ngIf="updateUserPaymentInfo">User Info</div>
                                <input hidden="hidden" name="id" [(ngModel)]="userPayment.id" />
                                <div class="form-group">
                                  <h5>* Give a name for your card:</h5>
                                  <input type="text" class="form-control" id="cardName" placeholder="Card Name" name="cardName"
                                          required="required" [(ngModel)]="userPayment.cardName" />
                                </div>

                                <!-- Billing Address -->
                                <hr />
                                <div class="form-group">
                                  <label for="billingName">* Name</label>
                                  <input type="text" class="form-control" id="billingName" placeholder="Receiver name"
                                          name="userBillingName" required="required" [(ngModel)]="userBilling.userBillingName">
                                </div>
                                <div class="form-group">
                                  <label for="billingAddress">* Street Address</label>
                                  <input type="text" class="form-control" id="billAddress" placeholder="Street Address 1"
                                          name="userBillingStreet1" required="required" [(ngModel)]="userBilling.userBillingStreet1">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Street Address 2"
                                          name="userBillingStreet2" [(ngModel)]="userBilling.userBillingStreet2">
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">
                                    <div class="form-group">
                                      <label for="billingCity">* City</label>
                                      <input type="text" class="form-control" id="userBillingCity" placeholder="Your Billing City"
                                          name="userBillingCity" required="required" [(ngModel)]="userBilling.userBillingCity" />
                                    </div>
                                  </div>
                                  <div class="col-xs-4">
                                    <div class="form-group">
                                      <label for="billingState">* State</label>
                                      <select name="userBillingState" id="billignState" class="form-control"
                                              [(ngModel)]="userBilling.userBillingState" required="required">
                                        <option value="" disabled>--state--</option>
                                        <option *ngFor="let state of stateList">{{state}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-xs-4">
                                    <div class="form-group">
                                      <label for="billingZipcode">* Zipcode</label>
                                      <input type="text" class="form-control" id="userBillingZipcode" placeholder="Zipcode"
                                          name="userBillingZipcode" required="required" [(ngModel)]="userBilling.userBillingZipcode" />
                                    </div>
                                  </div>
                                </div>

                                <!-- User Payment -->
                                <hr />

                                <div class="form-group">
                                  <h4>Credit Card Information</h4>
                                </div>
                                <div class="row">
                                  <div class="col-xs-12">
                                    <img src="../../../assets/creditcard.png" alt="" class="img-responsive" />
                                    <br>
                                    <div class="form-group">
                                      <label for="cardType">* Select Card Type</label>
                                      <select name="cardType" id="cardType" class="form-control"
                                              [(ngModel)]="userPayment.type" required="required">
                                        <option value="" disabled>--Card Type--</option>
                                        <option value="visa">Visa</option>
                                        <option value="mastercard">Mastercard</option>
                                        <option value="discover">Discover</option>
                                        <option value="amex">American Express</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="cardHolder">* Card Holder</label>
                                      <input type="text" class="form-control" id="cardHolder" placeholder="Card Holder Name"
                                          name="cardHolderName" required="required" [(ngModel)]="userPayment.holderName" />
                                    </div>
                                    <div class="form-group">
                                      <label for="cardNumber">* Card Number</label>
                                      <div class="input-group">
                                        <input type="tel" required="required" id="cardNumber" class="form-control" name="cardnumber"
                                                placeholder="Valid Card Number" [(ngModel)]="userPayment.cardNumber" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span> 
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-xs-7">
                                    <div class="form-group">
                                      <label >* Expiration Date</label>
                                      <div class="row">
                                        <div class="col-xs-6">
                                          <select name="expiryMonth" required="required" id="" class="form-control"
                                                  [(ngModel)]="userPayment.expiryMonth">
                                              <option value="" disabled="disabled">--Month--</option>      
                                              <option value="1">Jan (01)</option>
                                              <option value="2">Feb (02)</option>
                                              <option value="3">Mar (03)</option>
                                              <option value="4">Apr (04)</option>
                                              <option value="5">May (05)</option>
                                              <option value="6">Jun (06)</option>
                                              <option value="7">Jul (07)</option>
                                              <option value="8">Aug (08)</option>
                                              <option value="9">Sep (09)</option>
                                              <option value="10">Oct (10)</option>
                                              <option value="11">Nov (11)</option>
                                              <option value="12">Dec (12)</option>
                                          </select>
                                        </div>

                                        <div class="col-xs-6">
                                          <select name="expiryYear" required="required" id="" class="form-control"
                                                  [(ngModel)]="userPayment.expiryYear">
                                              <option value="" disabled="disabled">--Year--</option>      
                                              <option value="17">2017</option>
                                              <option value="18">2018</option>
                                              <option value="19">2019</option>
                                              <option value="20">2020</option>
                                              <option value="21">2021</option>
                                              <option value="22">2022</option>
                                              <option value="23">2023</option>
                                              <option value="24">2024</option>
                                              <option value="25">2025</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-5 pull-right" >
                                    <div class="form-group">
                                      <label for="cardCVC">CV Code</label>
                                      <input type="tel" id="cardCVC" class="form-control" name="cardCVC" placeholder="CVC" [(ngModel)]="userPayment.cvc">
                                    </div>
                                  </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-primary" >Save All</button> &nbsp; &nbsp;
                                <a data-toggle="tab" href = "#exstcard" (click) = "resetPaymentInfo()" class="btn btn-primary" role="button">Cancel</a>
                                &nbsp;&nbsp;<span *ngIf="newPaymentAdded" style="color:green">Record successfully updated</span>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- Payment details end -->

                  <!-- Shipping Details start -->
                  <div class="tab-pane fade" style="margin-top: 20px" id="shipping">
                    <div class="panel-group">
                      <div class="panel panel-default panel-faq" style="border:none;">
                        <div class="panel-body">
                          <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#exstshipping">List of Shipping Address</a></li>
                            <li><a data-toggle="tab" href="#newshipping">Add(Update) Shipping Address</a></li>
                          </ul>
                          <div class="tab-content">
                            <div style="margin-top:20px;" id="exstshipping" class="tab-pane fade in active">
                              <p *ngIf="defaultShippingSet" style="color:green;">Default shipping set successfully!</p>
                              <form (ngSubmit)="setDefaultShipping()" method="post">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Default </th>
                                      <th>Shipping Address </th>
                                      <th>Operations</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let userShipping of userShippingList">
                                      <td>
                                          <!-- when [value] = [(ngModel)] then radio button is checked -->
                                        <input type="radio" name="defaultUserShippingId" [(ngModel)]="defaultUserShippingId" [value]="userShipping.id" />
                                        <span>default</span> 
                                      </td>
                                      <td>{{userShipping.userShippingStreet1}},
                                          {{userShipping.userShippingStreetCity}},
                                          {{userShipping.userShippingState}}
                                      </td>
                                      <td>
                                        <a data-toggle="tab" href = "#newshipping"  (click)="onUpdateShipping(userShipping)" style="cursor:pointer">
                                          <i class="fa fa-pencil" data-toggle="tooltip" title="Edit"></i>
                                        </a>&nbsp; &nbsp;
                                        <a  (click)="onRemoveShipping(userShipping.id)" style="cursor:pointer">
                                          <i class="fa fa-times" data-toggle="tooltip" title="Delete"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </form>
                            </div>

                          <div style="margin-top:20px" id="newshipping" class="tab-pane fade">
                            <form (ngSubmit)="onNewShipping()" method="post">
                              <div class="bg-info" *ngIf="updateUserShippingInfo">User Info Updated</div>
                              <input hidden="hidden" name="id" [(ngModel)]="userShipping.id" />
                              <div class="form-group">
                                <label for="shippingname">* Name</label>
                                <input type="text" class="form-control" id="shippingName" placeholder="Receiver Name" name="userShippingName"
                                        required="required" [(ngModel)]="userShipping.userShippingName" />
                              </div>
                              <div class="form-group">
                                <label for="shippingAddress">* Street Address</label>
                                <input type="text" class="form-control" id="shippingAddress" placeholder="Street Address 1"
                                        name="userShippingStreet1" required="required" [(ngModel)]="userShipping.userShippingStreet1">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Street Address 2"
                                        name="userShippingStreet2" [(ngModel)]="userShipping.userShippingStreet2">
                              </div>
                              <div class="row">
                                <div class="col-xs-4">
                                  <div class="form-group">
                                    <label for="shippingCity">* City</label>
                                    <input type="text" class="form-control" id="userShippingCity" placeholder="Your Shipping City"
                                        name="userShippingCity" required="required" [(ngModel)]="userShipping.userShippingCity" />
                                  </div>
                                </div>
                                <div class="col-xs-4">
                                  <div class="form-group">
                                    <label for="shippingState">* State</label>
                                    <select name="userShippingState" id="shippingState" class="form-control"
                                            [(ngModel)]="userShipping.userShippingState" required="required">
                                      <option value="" disabled>--state--</option>
                                      <option *ngFor="let state of stateList">{{state}}</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-xs-4">
                                  <div class="form-group">
                                    <label for="shippingZipCode">* Zipcode</label>
                                    <input type="text" class="form-control" id="userShippingZipCode" placeholder="Zipcode"
                                        name="userShippingZipCode" required="required" [(ngModel)]="userShipping.userShippingZipCode" />
                                  </div>
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary" >Save All</button> &nbsp; &nbsp;
                              <a data-toggle="tab" href = "#exstshipping" (click) = "resetInfo('S')" class="btn btn-primary" role="button">Cancel</a>
                              &nbsp;&nbsp;<span *ngIf="newShippingAdded" style="color:green">Record successfully updated</span>
                            </form>
                          </div>
                        </div>
                       </div>
                      </div>
                    </div>
                    </div>
                  <!-- Shipping Details end -->
                  </div>
                  <!-- tab header end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>        